#t1 {
    color: red;
}
#t2 {
    color: blue;
}

body {
    background-color: rgb(252, 252, 215);
}

h1 {
    font-style: italic;
}

.formya {
    background-color: white;

    align-content: center;
}